main{
    margin-top: 20vh;
}
td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}
form {
    margin: 40px 40px;
}
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.imput-padron {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}
.checkbox {
    margin: 20px 0;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover {
    background-color: darkorange;
    transform: scale(1.2);
}
.tabla{
    color: #FFF6EA;
}
.copyright{
    display: flex;
    justify-content: center;
    color: #FFF6EA;
    margin: 5px 0px 5px 0px;
}
/*-----------------------responsive-----------------------*/
@media screen and (max-width: 550px){
    .imput-padron{
        width: 100%;
    }
    .enviar{
        width: 80%;
    }
}